<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Авторизация</title>
</head>
<body>
    <div class="wrapper login-theme">

        <main class="login-main">
            <form action="/login" class="login__form" name="login" method="post">
                <div class="form__group">
                    <label class="login__form__label" for="login-user">Логин</label>
                    <input class="login__form__input" type="text" name="loginUser" id="login-user">
                </div>
                <div class="form__group">
                    <label class="login__form__label" for="password-user">Пароль</label>
                    <input class="login__form__input" type="text" name="passwordUser" id="password-user">
                </div>
                <button type="submit" class="btn-def" id="btnSub" name="loginBtnSub">Вход</button>
                <a href="/registration" class="login__link">Регистрация</a>
                <h1 class="login__error" id="error-messange">{{errorMessange}}</h1>
            </form>
        </main>

    </div>

    <script src="/js/login.js"></script>
</body>
</html>