<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="wrapper login-container">
        <form action="/login" method="post" name="login" class="login">

            <header class="login__title">

                <div class="login__title__image">
                    <img src="/img/logo.png" alt="Логотип" class="login__title__image__icon">
                </div>

                <h2 class="logo__title__text">Hospital</h2>

            </header>

            <main class="login__main">

                <h3 class="logo__main__title">{{messanger}}</h3>

                <input type="text" class="logo__main__input" name="login" id="login" placeholder="Введите логин">

                <input type="password" class="logo__main__input" name="password" id="password" placeholder="Введите пароль">

            </main>

            <button type="submit" name="btn" id="btn" class="login__btn">Вход</button>

        </form>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>