<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Регистрация</title>
</head>
<body>
    <div class="wrapper login-theme">

        <main class="login-main login-main--h-700">
            <form action="/registrationUser" class="login__form" name="login" method="post">
                <div class="form__group">
                    <label class="login__form__label" for="login-user">Придумайте логин</label>
                    <input class="login__form__input" type="text" name="loginUser" id="login-user">
                </div>
                <div class="form__group">
                    <label class="login__form__label" for="password-user">Придумайте пароль</label>
                    <input class="login__form__input" type="text" name="passwordUser" id="password-user">
                </div>
                <div class="form__group">
                    <label class="login__form__label" for="firstName-user">Введите имя</label>
                    <input class="login__form__input" type="text" name="firstName" id="firstName-user">
                </div>
                <div class="form__group">
                    <label class="login__form__label" for="lastName-user">Введите фамилию</label>
                    <input class="login__form__input" type="text" name="lastName" id="lastName-user">
                </div>
                <button type="submit" class="btn-def" id="btnSub" name="loginBtnSub">Создать</button>
                <a href="/" class="login__link">Авторизация</a>
                <h1 class="login__error" id="error-messange">{{errorMessange}}</h1>
            </form>
        </main>

    </div>

    <script src="/js/login.js"></script>
</body>
</html>