.list-eployee{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;

    height: 100%;

    padding: 25px 0;
}

.list-eployee__item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    flex: 1 1 50%;

    height: 100%;
}

.list-eployee__header{
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    color: #fff;
}

.list-eployee__header--bg-blue{
    background-color: #4E7FFF;
}

.list-eployee__header--bg-green{
    background-color: #2BA428;
}

.list-eployee__main{
    height: 100%;
    width: 100%;

    background-color: #fff;
}

.list-eployee__list{
    list-style: none;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    padding: 15px;
}

.list-eployee__list__item{
    border: 1px solid gray;

    width: 70%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.list-eployee__list__item--double-label{
    align-items: center;
    flex-direction: column;
    gap: 3px;

    height: 60px;
}

.list-eployee__list__item__info{
    width: 100%;
    height: 100%;
}

.list-eployee__list__item__info__btn{
    width: 100%;
    height: 100%;

    font-size: 20px;
}

.list-eployee__list__item__info__btn--font-16{
    font-size: 16px;
}

.list-eployee__list__item__info__btn--gree, .list-eployee__list__item__info__btn--blue{
    background: transparent;

    transition: all .7s ease;
}

.list-eployee__list__item__info__btn--gree:hover{
    background: rgb(166, 249, 166);

    transition: all .7s ease;
}

.list-eployee__list__item__info__btn--blue:hover{
    background: rgb(169, 202, 255);

    transition: all .7s ease;
}